body {
  background-image: url("../images/background.jpg");
  background-color:rgba(0, 0, 0, 0.5);
}

h1 {
  background-color: grey;
  text-align: center;
  box-shadow: 6px 6px yellow;
  margin: 0 auto;
  display: inline-block;
}

h2 {
  text-align: center;
}

img {
  width: 275px;
}

.animals {
  text-align: center;
  margin-top: 20px;
}

.profile {
  float: left;
  width: 300px;
  margin: 0 20px;
}

.dogs, .cats {
  display: inline-block;
  background-color: grey;
  box-shadow: 6px 6px yellow;
}

.dogs p {
  font-family: sans-serif;
}

.cats p {
  font-family: fantasy;
}

.cats img {
  border-radius: 100px;
}

/* 
https://medium.freecodecamp.org/how-to-center-things-with-style-in-css-dc87b7542689 */
